<!DOCTYPE html>
<html>
  <head>
    <title>CRUD app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Groceries CRUD</h1>
    <nav>
        <a href="/groceries">All Groceries</a> |
        <a href="/groceries/new">Add Groceries</a>
    </nav>